// Your variable overrides
// See node_modules/bootstrap/scss/_variables.scss for all variables
$body-bg: white;
$body-color: #000;
$primary: rgb(255, 140, 105);
$font-family-base: Arial;

// Include all Bootstrap
@import "~bootstrap/scss/bootstrap";

// Add you custom CSS
body {
  padding: 20px;
}
